
body {
    background: #fbe9e7; /* fbe9e7*/
}

.FirstPage {
    text-align: center;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background: #ffccbc;
    border-radius: 10px;
}

.FirstPage-logo {
    animation: FirstPage-logo-spin infinite 20s linear;
    height: 80px;
}

.FirstPage-header {
    background: url("../images/logo3.png") no-repeat;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 82px;
}

.FirstPage-header:hover{
    background: url("../images/logo4.png") no-repeat;
}

.FirstPage-welcomeImages{
    background: #ffab91;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
}

#img1{
    width: 30%;
    margin: 2%;
    margin-right: 1.5%;

}

#img2{
    width: 30%;
    margin: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#img3{
    width: 30%;
    margin: 2%;
    margin-left: 1.5%;
}

#img1:hover{
    box-shadow: 0 0 50px 5px rgba(240, 110, 25, 0.5);
}

#img2:hover{
    box-shadow: 0 0 50px 5px rgba(240, 110, 25, 0.5);
}

#img3:hover{
    box-shadow: 0 0 50px 5px rgba(240, 110, 25, 0.5);
}

footer{
    background-color: #ff9e80;
    border-radius: 0 0 10px 10px;
}

footer p{
    font-family: "Source Code Pro Semibold";
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #fbe9e7;


}

@keyframes FirstPage-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
